<div class="container-fluid">
    <h2>Processos</h2>
	<div class="add-button">
		<button sec:authorize="hasAnyAuthority('ADMIN', 'TRIAD')" type="button" ng-click="ctrl.reset()" class="btn btn-success" data-toggle="modal" data-target="#processo">
			<i class="fa fa-plus"></i> Processo
		</button>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="search">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisar" />
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Criador</th>
                        <th>Data</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="processo in filterData = (ctrl.getAllProcessos()| filter: pesquisar) | limitTo: 5:5*(page-1)">
                        <td>{{processo.id}}</td>
                        <td>{{processo.titulo}}</td>
                        <td sec:authorize="hasAuthority('ADMIN')">{{processo.criador.name}}</td>
                        <td>{{processo.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td class="col-actions">
                            <a sec:authorize="hasAnyAuthority('ADMIN', 'TRIAD')" ng-click="ctrl.editProcesso(processo.id)" class="btn btn-primary" data-toggle="modal" data-target="#processo"><i class="fa fa-edit"></i> Editar</a>
                            <a sec:authorize="hasAnyAuthority('ADMIN')" ng-click="ctrl.removeProcesso(processo.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pagination-left">
                    Total de Registros: {{filterData.length}}
                </div>
                <div class="pagination-right">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="processo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
                <h3 class="modal-title">{{!ctrl.processo.id ? 'Adicionar' : 'Editar'}} Processo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="panel panel-default">
		        <div class="panel-body">
		            <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
		            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
		            <form ng-submit="ctrl.submitProcesso()" name="processoForm" class="form-horizontal">
		                <input type="hidden" ng-model="ctrl.processo.id" />
		                <div class="form-panel">
		                    <div class="form-group">
		                        <input type="text" ng-model="ctrl.processo.titulo" name="titulo" class="form-control" placeholder="Título" />
		                    </div>
		                    <div class="form-group">
		                        <textarea ng-model="ctrl.processo.descricao" name="descricao" class="form-control" placeholder="Descrição" rows="5"></textarea>
                            </div>
                            <div class="form-group">
		                        <select ng-model="ctrl.processo.status" name="status" class="form-control">
							    	<option value="ABERTO">Aberto</option>
							    	<option value="FECHADO">Fechado</option>
		  	 					</select>
		                    </div>
		                    <div class="form-group">
                                <select multiple ng-model="ctrl.processo.finalizadores" name="finalizadores" class="form-control">
                                    <option value="" disabled="disabled">Finalizador</option>
                                    <option ng-repeat="user in ctrl.getAllUsers()" value="{{user.id}}">{{user.name}}</option>
                                </select>
                            </div>
		                </div>
		                <div class="row">
		                    <div class="form-actions float-left">
		                        <button type="submit" class="btn btn-success" ng-disabled="processoForm.$invalid || processoForm.$pristine">
		                            <i class="fa fa-hdd-o"></i> {{!ctrl.processo.id ? 'Adicionar' : 'Editar'}}
		                        </button>
		                        <button type="button" ng-click="ctrl.reset()" class="btn btn-default" ng-disabled="processoForm.$pristine">
		                            <i class="fa fa-eraser"></i> Limpar
		                        </button>
		                    </div>
		                </div>
		            </form>
		        </div>	
	        </div>
    	</div>
    </div>
</div>
