<div class="panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="search">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisar" />
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Processo</th>
                        <th>Comentário</th>
                        <th>Status</th>
                        <th>Data Parecer</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="processo in filterData = (ctrl.getAllProcessoParecer()| filter: pesquisar) | limitTo: 5:5*(page-1)">
                        <td>{{processo.id}}</td>
                        <td>{{processo.titulo}}</td>
                        <td>{{processo.pareceres[0].comentario}}</td>
                        <td>{{processo.status}}</td>
                        <td>{{processo.pareceres[0].updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td class="col-actions">
                            <a sec:authorize="hasAnyAuthority('ADMIN', 'FINAL')" ng-controller="ModalController" 
                            ng-click="openModal(processo.id)" class="btn btn-primary"><i class="fa fa-edit"></i> Enviar Parecer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pagination-left">
                    Total de Registros: {{filterData.length}}
                </div>
                <div class="pagination-right">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
