<div class="modal-dialog modal-md">
    <div class="modal-header">
        <h3 class="modal-title">Enviar Parecer</h3>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body panel-default">
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
            <form ng-submit="ctrl.submitParecer()" name="parecerForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.processo.pareceres[0].id" />
                <div class="form-panel">
                    <div class="form-group">
                        <textarea ng-model="ctrl.processo.pareceres[0].comentario" name="comentario" class="form-control" placeholder="Comentário" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions float-left">
                        <button type="submit" class="btn btn-success" ng-disabled="parecerForm.$invalid || parecerForm.$pristine">
                            <i class="fa fa-hdd-o"></i> Enviar
                        </button>
                        <button type="button" ng-click="ctrl.reset(ctrl.processo.pareceres[0].id)" class="btn btn-default" ng-disabled="parecerForm.$pristine">
                            <i class="fa fa-eraser"></i> Limpar
                        </button>
                    </div>
                </div>
            </form>
        </div>	
    </div>
</div>
