<div class="panel">
	<div class="add-button" ng-controller="ModalController">
		<a sec:authorize="hasAnyAuthority('ADMIN', 'TRIAD')" data-ng-click="openModal()" class="btn btn-success">
			<i class="fa fa-plus"></i> Processo
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="search">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisar" />
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Criador</th>
                        <th>Finalizador(es)</th>
                        <th>Parecer</th>
                        <th>Status</th>
                        <th>Data Criada</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="processo in filterData = (ctrl.getAllProcessos()| filter: pesquisar) | limitTo: 5:5*(page-1)">
                        <td>{{processo.id}}</td>
                        <td>{{processo.titulo}}</td>
                        <td sec:authorize="hasAuthority('ADMIN')">{{processo.criador.name}}</td>
                        <td><span ng-repeat="finalizador in processo.users">{{finalizador.name}}; </span></td>
                        <td>{{processo.pareceres[0].comentario}}</td>
                        <td>{{processo.status}}</td>
                        <td>{{processo.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td class="col-actions">
                            <a sec:authorize="hasAnyAuthority('ADMIN', 'TRIAD')" ng-controller="ModalController" 
                            ng-click="openModal(processo.id)" class="btn btn-primary" data-toggle="modal"><i class="fa fa-edit"></i> Editar</a>
                            <a sec:authorize="hasAnyAuthority('ADMIN', 'TRIAD')" ng-click="ctrl.removeProcesso(processo.id)" 
                            class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pagination-left">
                    Total de Registros: {{filterData.length}}
                </div>
                <div class="pagination-right">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
