<!DOCTYPE html>
<html ng-app="processoApp">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>    
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

        <div class="container-fluid">
            <h2>Processos</h2>
            <div ui-view></div>
        </div>

        <script type="text/javascript" th:src="@{/app/ProcessoApp.js}"></script>
        <script type="text/javascript" th:src="@{/app/ProcessoService.js}"></script>
        <script type="text/javascript" th:src="@{/app/ProcessoController.js}"></script>
    </body>
</html>