<div class="modal-dialog modal-md">
    <div class="modal-header">
        <h3 class="modal-title">{{!ctrl.user.id ? 'Adicionar' : 'Editar'}} Usuário</h3>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body panel-default">
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
            <form ng-submit="ctrl.submitUser()" name="userForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.user.id" />
                <div class="form-panel">
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.user.name" name="name" class="form-control" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.user.email" name="email" class="form-control" placeholder="E-mail" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.user.username" name="username" class="form-control" placeholder="Usuário" required />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.user.password" name="password" class="form-control" placeholder="Senha" required />
                    </div>
                    <div class="form-group">
                        <select ng-model="ctrl.user.role" name="role" id="role" class="form-control" required>
                            <option selected value="ADMIN">Administrador</option>
                            <option value="TRIAD">Triador</option>
                            <option value="FINAL">Finalizador</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select ng-model="ctrl.user.status" name="status" id="status" class="form-control">
                            <option selected value="ATIVO">Ativo</option>
                            <option value="INATIVO">Inativo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions float-left">
                        <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid || userForm.$pristine">
                            <i class="fa fa-hdd-o"></i> {{!ctrl.user.id ? 'Adicionar' : 'Editar'}}
                        </button>
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-default" ng-disabled="userForm.$pristine">
                            <i class="fa fa-eraser"></i> Limpar
                        </button>
                    </div>
                </div>
            </form>
        </div>	
    </div>
</div>