<div class="panel">
    <div class="panel panel-default">
        <div class="add-button" ng-controller="ModalController">
            <a sec:authorize="hasAnyAuthority('ADMIN')" ng-click="openModal()" class="btn btn-success">
                <i class="fa fa-plus"></i> Usuário
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="search">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisar" />
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Usuário</th>
                        <th>Função</th>
                        <th>Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in filterData = (ctrl.getAllUsers()| filter: pesquisar) | limitTo: 5:5*(page-1)">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.status}}</td>
                        <td class="col-actions">
                            <a sec:authorize="hasAuthority('ADMIN')" ng-controller="ModalController" ng-click="openModal(user.id)" 
                            class="btn btn-primary show-btn"><i class="fa fa-edit"></i> Editar</a>
                            <a sec:authorize="hasAuthority('ADMIN')" ng-click="ctrl.removeUser(user.id)" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pagination-left">
                    Total de Registros: {{filterData.length}}
                </div>
                <div class="pagination-right">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
